html{
    background-image: url(3-33033_50-firewatch-hd-wallpapers-abstract-gaming-background-4kverkleinert.jpg);
}
h1{
    border-bottom: 3px dashed orangered;
    color: crimson;
}
div1{
    float: left;
}
p{
    color: azure;
}