h1 { /* Alle Elemente stylen */
    /* Unteren Rand 1px breit, strichliert und schwarz zeichnen*/
    border-bottom: 1px dashed black;
    color: steelblue
}
ol {
    color: green;
}
.date{
    color: red;font-weight: bold;
}
